beautifulsoup4==4.12.3
chroma-hnswlib==0.7.3
chromadb==0.3.29
langchain-community<0.0.25
langchain-core==0.1.32
langchain-openai==0.0.8
langchainhub==0.1.14
langchain==0.1.9
pypdf2~=3.0.1
python-dotenv~=1.0.1
rank-bm25==0.2.2
requests~=2.31.0
sentence-transformers==2.4.0
streamlit==1.31.1
tabulate==0.9.0
unstructured[pdf,s3]==0.12.4
wikipedia==1.4.0
